:root{
    --yellow : #FFC600;
}

body{
    background-color: salmon;
}


.hello{
    font-size: 100px;
    color: var(--yellow);

}
.welcome{
    font-size: 150px;
    color:pink;
}
.landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gambar{
    width:1000px;
    height: auto;
}

@media only screen and (max-width: 600px){
    .landing{
    flex-direction: column;
}
    .hello{
    font-size: 50px;
}

.gambar{
    width:300px;
}

.welcome{
    font-size: 50px;
}
